<div class="row">
  
        <div style="margin-top: 25px; margin-left: 25px;">
            <h5>Manage Foum Topics here</h5>
        </div>
        <br /> <br />

        <div style="margin-left: 25px; margin-bottom: 75px;">
            <table class="highlight centered responsive-table">
                <thead>
                <tr>
                    <th data-field="id">Topic Name</th>
                    <th data-field="id">Topic Category</th>
                    <th data-field="name">Initiated By</th>
                    <th data-field="date">Initiated On</th>
                    <th data-field="status">Options</th>
                </tr>

                
                </thead>

                <tbody>
                    <tr>
                         <td>java</td>
                        <td>programmer</td>
                        <td>dillip</td>
                        <td>dec 13, 2017</td>
                       <td> 
                            <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit"><i class="material-icons">mode_edit</i></a>
                            <a class="waves-effect waves-light btn tooltipped red darken-4" data-position="bottom" data-delay="50" data-tooltip="Delete"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>

                     <tr>
                         <td>c++</td>
                        <td>designer</td>
                        <td>dillip</td>
                        <td>dec 13, 2017</td>
                       <td> 
                            <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit"><i class="material-icons">mode_edit</i></a>
                            <a class="waves-effect waves-light btn tooltipped red darken-4" data-position="bottom" data-delay="50" data-tooltip="Delete"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>

                     <tr>
                         <td>Angularjs</td>
                        <td>beginner</td>
                        <td>Dillip</td>
                        <td>dec 13, 2017</td>
                       <td> 
                            <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit"><i class="material-icons">mode_edit</i></a>
                            <a class="waves-effect waves-light btn tooltipped red darken-4" data-position="bottom" data-delay="50" data-tooltip="Delete"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>

                   
                </tbody>
        </table>
    </div>

    
</div>